.hero-basic {
  background-color: var(--primary-color);
  padding-top: 180px;
  position: relative;

  h1 {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 95px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    padding-bottom: 115px;
    position: relative;
    z-index: 1;
  }

  &.text-contrast * {
    color: var(--black);
  }

  .col-image-mobile {
    display: none;
  }

  .col-image-desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    mix-blend-mode: multiply;
  }

  &.center {
    .col-image-desktop {
      right: 25%;
    }
  }
}

@media screen and (max-width:992px) {
  .hero-basic {
    h1 {
      font-size: 60px;
      padding-bottom: 50px;
    }

    .col-image-desktop {
      display: none;
    }

    .col-image-mobile {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 85%;
      mix-blend-mode: multiply;
    }
  }
}