.pre-navbar {
  padding: 14px 60px 12px 120px;
  background: var(--black);
  display: flex;
  justify-content: flex-end;
  gap: 60px;

  a {
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.navbar {
  top: 35px;
  min-height: 90px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  padding: 0 30px;
  padding-top: 0 !important;
  position: absolute !important;

  &.blue-header:not(&.sticky-nav) {
    .btn.btn-primary.blue {
      @media screen and (min-width: 1200px) {
        color: var(--black);
        background-color: var(--white);
      }
    }
  }

  .navbar-brand {
    margin-right: 41px;
    margin-top: -10px;
  }

  .dropdown {
    &-menu {
      padding: 20px;
      border-radius: 5px !important;

      &.open {
        display: block;

        .dropdown-item {
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 130%;
            color: var(--black);
            text-transform: none;
          }
        }
      }
    }

    &-item {
      padding: 0;

      &:focus,
      &:hover {
        color: #1e2125;
        background-color: transparent;
      }

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  &.home-nav {
    background: transparent;
    position: absolute;

    #navNav ul li.nav-item {
      .dropdown-button {
        color: var(--white);
      }

      a.nav-link {
        color: var(--white);

        &.btn {
          background-color: transparent;
          color: var(--white);
          border: 2px solid var(--white);
        }
      }

      a.dropdown-button {
        color: var(--white);
      }
    }
  }

  .mobile-search-system {
    display: none;
  }

  &.sticky-nav {
    transition: 0.2s ease-in-out;
    position: fixed !important;
    top: 0;
    height: 60px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding-bottom: 0 !important;

    .cta-list-container {
      a.pink:hover {
        color: var(--white) !important;
        background-color: var(--primary-color) !important;
      }

      a.blue:hover {
        background-color: var(--primary-color-light) !important;
      }
    }

    .desktop-search-system svg,
    .mobile-search-system svg {
      path {
        fill: var(--black);
      }
    }

    .navbar-brand {
      height: 100%;
      margin: 0 4rem;

      * {
        height: 100%;
        width: auto;
      }

      svg path {
        fill: var(--black);
      }
    }

    .navbar-toggler {

      span,
      span:before,
      span:after {
        background-color: #001e61;
      }

      span.open-toggle,
      span.open-toggle:before,
      span.open-toggle:after {
        background-color: var(--white);
      }
    }

    .navbar-brand>img {
      width: 85%;
    }

    .nav-item>a {
      border-color: var(--black) !important;
    }

    .nav-item a {
      color: var(--black) !important;
      padding: 0 !important;
      margin: 0 !important;

      &:hover {
        color: var(--primary-color) !important;
      }
    }
  }

  .main-items {
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .links-container {
      display: flex;
      align-items: center;
      gap: 70px;
    }

    .nav-item {
      a {
        color: var(--white);
        font-family: "Inter";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        border-bottom: 2px solid var(--white);
        padding-bottom: 5px;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }

    .dropdown-menu {
      .dropdown-item {
        .dropdown-link {
          text-decoration: none;
          font-family: var(--primary-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .cta-list-container {
      display: flex;
      gap: 26px;
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .nav-white {
    @media screen and (min-width: 991px) {
      >li>a {
        color: var(--white) !important;
      }
    }
  }
}

// Mobile open/close icon
.navbar-toggler-icon {
  height: 4px !important;
  background-color: var(--white) !important;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--white) !important;
    width: 1.5em;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }

  &.open-toggle {
    background-color: var(--white) !important;
    opacity: 1;
    top: 0px;
    height: 4px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);

    &:before {
      opacity: 0;
      right: -60px;
    }

    &:after {
      background-color: var(--white-green);
      content: '';
      opacity: 1;
      top: 0px;
      bottom: unset;
      height: 4px;
      -webkit-transform: rotate(-85deg);
      -moz-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
    }
  }
}

// Mobile menu when is open
.navbar-collapse.show {
  padding: 1.5rem 0;
  background-color: var(--white);
}

@media screen and (max-width: 1200px) {
  .navbar {
    top: initial;
    min-height: auto;
    padding: 5px 0;

    .navbar-brand {
      margin: 0 1rem !important;
    }

    &.sticky-nav {
      .navbar-toggler-icon {
        background-color: var(--black) !important;

        &:before,
        &:after {
          background-color: var(--black) !important;
        }

      }
    }

    .navbar-collapse {
      transition: 0.15s all ease-in-out;

      &.show {
        padding: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      }
    }

    &.expanded {
      padding-bottom: 0rem;
      background-color: var(--white);

      .main-items {
        padding: 1rem;
        align-items: initial;
      }

      .links-container {
        gap: 16px;
        align-items: flex-start;
        flex-direction: column;

        .nav-item {
          text-align: initial !important;

          a {
            border: none !important;
            font-size: 16px !important;
            color: var(--black);
          }

          .dropdown-menu {
            padding: 0;
            padding-left: .5rem;
            text-align: initial !important;

            .dropdown-item:not(:last-child) {
              padding-bottom: 5px;
            }

            a {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }

      .cta-list-container {
        gap: 16px;
        flex-direction: column;
      }

      .navbar-brand svg {

        path {
          fill: var(--black);
        }
      }

      .navbar-toggler-icon:before,
      .navbar-toggler-icon:after,
      .navbar-toggler-icon.open-toggle {
        background-color: var(--black) !important;
      }
    }
  }

  .navbar.expanded #navNav ul li.nav-item {
    text-align: center;
  }

  li.dropdown ul.dropdown-menu {
    background-color: transparent !important;
    border: none;
    text-align: center;
  }

  .collapse {
    background-color: var(--white);

    li.nav-item {

      a.dropdown-button,
      a.nav-link {
        color: var(--black);
      }
    }
  }

  .desktop-search-system {
    display: none;
  }

  .links-container {
    margin-bottom: 1rem;
  }

  .navbar-toggler-icon {
    width: 30px !important;
  }

  .navbar-toggler-icon:before,
  .navbar-toggler-icon:after {
    width: 30px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0px 4px 4px 4px;
    border: none;
  }
}

@media screen and (max-width: 1200px) {
  .pre-navbar {
    display: none;
  }

  .navbar {
    .actions {
      display: flex;
      align-items: center;
      gap: 18px;
    }

    .mobile-search-system {
      display: block;
    }

    .navbar-brand {
      margin: 0;
      margin-left: 16px;

      * {
        width: 80px;
        height: 86px;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .navbar {
    .navbar-brand img {
      padding-left: 15px;
      width: 87%;
    }

    .nav-item {
      margin-right: 25px !important;

      a {
        font-size: 20px !important;
      }
    }
  }
}