.navbar {
  background-color: transparent;
  padding-top: 0 !important;

  .navbar-brand {
    margin-top: -10px;
  }

  .actions {
    display: flex;
    align-items: center;
  }

  // Mobile menu when is open
  .navbar-collapse.show {
    padding: 1.5rem 0;
    background-color: var(--white);
  }
}

@media screen and (max-width: 992px) {

  .navbar-brand {
    height: 50px;
    margin-top: -65px !important;

    svg {
      height: 100%;
      width: 260px;
    }
  }

}