.navbar {
  background-color: transparent;
  padding-top: 0 !important;

  .navbar-brand {
    margin-right: 41px;
    margin-top: -10px;
  }

  // .navbar-toggler {
  //   display: block !important;

  //   &:focus {
  //     box-shadow: none;
  //   }
  // }

  .actions {
    display: flex;
    align-items: center;
  }

  // Mobile menu when is open
  .navbar-collapse.show {
    padding: 1.5rem 0;
    background-color: var(--white);
  }
}