* {
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  overflow-x: hidden;
}

.header-detail {
  background-color: var(--primary-color);
  height: 220px;
}

.formWrapper {
  iframe {
    width: 100%;
  }
}

#secondary-bg {
  background-color: var(--secondary-bg-color) !important;
}

.nav-open {
  position: relative;
}

.nav-open-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 15;
  background: rgba(0, 0, 0, 0.60);
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}