* {
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  overflow-x: hidden;
}

.header-home {
  position: relative;
  z-index: 10;
}

.header-detail {
  background-color: var(--primary-color);
  height: 220px;
}

.formWrapper {
  iframe {
    width: 100%;
  }
}

#secondary-bg {
  background-color: var(--secondary-bg-color) !important;
}