.map-wrapper {
  position: relative;

  h3 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 49px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 53px;
    left: 53px;
  }

  .map {
    .map-container {
      height: 80vh;
      border-radius: 20px;
      margin-bottom: 74px;
    }
  }
}